
section.income
    padding-bottom: 34px

    .income-main-wrapper
        background-color: white
        box-sizing: border-box
        padding: 32px 32px 0 32px
        width: 1200px
        min-height: 460px
        margin: 65px auto 0 auto
