
header
    margin-bottom: 12px
    width: 100%
    box-sizing: border-box
    display: flex
    justify-content: space-between
    align-items: center
    position: fixed
    width: calc(100vw)
    height: 84px
    z-index: 100
    padding: 24px

    .content-wrapper
        box-sizing: border-box
        padding-left: 179px
        padding-right: 200px
        font-size: 22px
        font-weight: 200
        height: 84px
        width: 1200px
        display: flex
        align-items: center
        justify-content: space-between
        color: #000
        background-color: #fff
        clip-path: polygon(0 0, 100% 0%, 84.96% 100%, 0% 100%)
        border-bottom: 1px solid #677685

        &:after
            content: ""
            z-index: 100
            position: absolute
            height: 200px
            width: 1px
            left: 1133px
            transform: rotate(65deg)
            background-color: #677685

    .info-block
        position: absolute
        left: 600px
        display: flex
        align-items: center
        gap: 32px
        font-size: 20px
        font-weight: 200
        color: #000
        height: 84px
        transition-duration: 1300ms

        .balance
            position: relative
            color: #000
            background-color: #fff
            border-radius: 10px
            padding: 12px

            &::before
                content: ""
                position: absolute
                top: 50%
                transform: translateY(-50%)
                left: -2px
                display: block
                width: 7px
                height: 7px
                background-color: #07e199
                border-radius: 100%

            span
                margin-left: 2px
                color: #db5aa1

        .name
            position: relative
            background-color: #fff
            border-radius: 10px
            padding: 12px

            &::before
                content: ""
                position: absolute
                top: 50%
                transform: translateY(-50%)
                left: -2px
                display: block
                width: 7px
                height: 7px
                background-color: #07e199
                border-radius: 100%

        img
            width: 54px
            height: 54px
            border-radius: 100%
            object-fit: cover
            transition-duration: 2500ms
