
section.deposits
    margin-top: 100px
    display: grid
    width: 100%
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr
    gap: 14px

    .block
        position: relative
        display: flex
        flex-direction: column
        background-color: white
        outline: 1px solid #eecee0
        border-radius: 4px
        padding: 14px
        font-weight: 300

        &.active
            background-color: #effffe

        .percent
            position: absolute
            left: 50%
            top: -40px
            transform: translateX(-50%)
            font-size: 20px
            font-weight: 300

        .configurator
            margin-top: 8px
            display: flex
            align-items: center
            justify-content: space-between
            font-weight: 200

        input
            color: #7d7a7a
            font-size: 14px
            font-weight: 200

        .input-active
            background-color: white

        .name
            margin-right: 14px

        canvas
            margin: 22px auto 10px auto
            width: 100% !important
            z-index: 100

        .white-circle
            position: absolute
            width: 94px
            height: 94px
            border-radius: 100%
            background-color: white
            left: 50%
            transform: translateX(-50%)
            bottom: 136px

        img
            display: block
            position: absolute
            width: 122px
            bottom: 122px
            left: 50%
            transform: translateX(-50%)
            z-index: 10
            transition-duration: 300ms

        button
            margin-top: 18px
            margin-bottom: 6px
            height: 40px
            width: 100%
            display: flex
            align-items: center
            justify-content: center
            background-color: transparent
            color: #db5aa1
            font-weight: 300
            font-size: 18px
            border: 1px solid black
            border-radius: 4px
            cursor: pointer

            &:hover
                border: 1px solid #e62d93

        button[disabled]
            background-color: white
            color: #5a78db

            &:hover
                border: 1px solid black
