
section
    margin-bottom: 34px
    display: flex
    align-items: center
    flex-direction: column

    .blocks-wrapper
        display: flex
        flex-direction: column
        gap: 24px
        width: 100%

        .block
            box-sizing: border-box
            width: 100%
            height: 92px
            border-radius: 8px
            display: flex
            align-items: center
            justify-content: space-between
            padding: 0 34px 0 34px
            border: 1px solid #eecee0

            &.active
                border-color: #5a78db
                .status
                    color: #5a78db

            &.ready
                border-color: #10dd51
                .status
                    color: #10dd51

            &.closed
                background-color: #4e4d4d
                .status
                    color: black

            .data
                height: 100%
                display: flex
                flex-direction: column
                justify-content: center
                align-items: center
                gap: 2px
                font-weight: 200
                font-size: 16px

                span
                    font-weight: 400

            button
                height: 36px
                width: 119px
                display: flex
                align-items: center
                justify-content: center
                background-color: transparent
                font-weight: 200
                font-size: 13px
                border: 1px solid #10dd51
                border-radius: 4px
                cursor: pointer
                box-shadow: none

                &:hover
                    border: 1px solid #e62d93
