@keyframes fade-in
    to
        opacity: 1

main.main-page
    box-sizing: border-box
    width: calc(100vw - 154px)
    padding-left: 154px
    margin: 0 auto
    display: flex
    flex-direction: column
    align-items: center
    opacity: 0
    animation: fade-in 400ms forwards

    .container
        min-height: 100vh
        width: 100%
        box-sizing: border-box
        width: 1360px
        padding: 100px 34px 0 34px
        margin: 0 auto
        background-color: #f6f6f6
        min-height: calc(100vh - 100px)
