.line-chart
    width: 790px
    .title
        padding-left: 89px

    .chart-holder
        position: relative
        transform: translateY(-10px)
        width: 100%
        margin: 0 auto

        &.loading
            width: 790px
            height: 395px
            display: flex
            justify-content: center
            align-items: center

            .ant-spin-dot-item
                background-color: #000

        .total-average
            position: absolute
            border: 1px solid #e62d93
            height: 246px
            width: 375px
            top: 75px
            right: -345px
            display: grid
            grid-auto-rows: 50%
            clip-path: polygon(0 0, 65% 0, 100% 100%, 0 100%)

            .total, .average
                color: #000
                font-weight: 200
                display: flex
                align-items: center
                padding-left: 16px

                span
                    color: #e62d93
                    font-weight: 400
                    margin-left: 8px

        &:after
            content: ""
            top: 59px
            right: -280px
            transform: rotate(-28deg)
            position: absolute
            width: 1px
            height: 280px
            background-color: #e62d93
