@keyframes fade-in
    to
        opacity: 1

section.activity
    padding-bottom: 34px
    opacity: 0
    animation: fade-in 1300ms forwards

    .activity-main-wrapper
        background-color: white
        box-sizing: border-box
        padding: 32px 32px 0 32px
        width: 1200px
        min-height: 460px
        margin: 65px auto 0 auto

    .activity
        height: 25px
        font-size: 16px
        font-weight: 300
        width: 100%
        display: grid
        grid-template-columns: 0.3fr 1.2fr repeat(4, 1fr)
        padding-bottom: 24px

        .block.skeleton
            width: 1136px

        &.title
            color: #22212177

            .block
                display: flex

            &.right
                justify-content: end

    .colored
        color: #e62d93

.footer
    width: max-content
    background-color: white
    box-sizing: border-box
    width: 1200px
    height: fit-content
    padding: 14px 32px 32px 32px
    margin: 0 auto
