@keyframes fade-in
    to
        opacity: 1

main.main-page
    box-sizing: border-box
    padding-left: 154px
    margin: 0 auto
    display: flex
    flex-direction: column
    align-items: center
    opacity: 0
    animation: fade-in 1300ms forwards

    .container
        height: 100vh
        overflow: scroll
        width: calc(100vw - 154px)
        box-sizing: border-box
        padding: 84px 34px 0 34px
        margin: 0 auto
        background-image: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(210,210,215,0.25) 50%)
        min-height: calc(100vh - 100px)
