.ant-modal
    width: max-content !important

    .main-wrapper
        min-height: unset
        width: max-content
        margin-top: 24px
        display: flex
        flex-direction: column
        align-items: center

    .ant-modal-content
        padding: 40px 60px 34px 60px !important

        img
            width: 140px
            height: 140px
            border-radius: 100%
            border: 1px solid #d9d9d9

        form
            margin-top: 14px
            margin-bottom: 24px
            display: flex
            flex-direction: column
            align-items: start
            justify-content: center
            gap: 6px
            color: #757474
            font-weight: 100

            input
                margin-bottom: 6px
                width: 240px
                height: 32px
                border: 1px solid #d9d9d9
                border-radius: 4px
