.ant-modal
    width: max-content !important

    .profile-main-wrapper
        min-height: unset
        width: max-content
        margin-top: 24px
        display: flex
        flex-direction: column
        align-items: center

    .ant-modal-content
        padding: 40px 60px 34px 60px !important

        img
            width: 140px
            height: 140px
            border-radius: 100%
            border: 1px solid #d9d9d9

        img.loading
            height: 40px
            border: unset
            position: absolute
            bottom: 30px
            left: 40px
            transition-duration: 300ms

        form
            margin-top: 14px
            margin-bottom: 24px
            display: flex
            flex-direction: column
            align-items: start
            justify-content: center
            gap: 6px
            color: #757474
            font-weight: 100

            input
                margin-bottom: 6px
                width: 240px
                height: 34px
                border: 1px solid #cecece
                border-radius: 4px
                padding-left: 14px
                padding-right: 14px
                &::placeholder
                    font-weight: 100
                    color: #363535
                &:focus-visible
                    outline: 1px solid #e62d93

        .avatar-upload
            position: relative
            width: 184px
            height: 184px
            display: flex
            justify-content: center
            align-items: center

        .options
            border-radius: 100%
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            opacity: 0
            z-index: 100

            &:hover
                opacity: 1

            .edit
                color: #4096ff
                font-weight: 500
                font-size: 16px
                line-height: 26px
                cursor: pointer
                z-index: 1
                transition: opacity 0.3s

            .delete
                color: #ff0000
                font-weight: 500
                font-size: 16px
                line-height: 26px
                cursor: pointer
                z-index: 1
                transition: opacity 0.3s

    input#imageUpload
        display: none

        .avatar-preview
            width: 192px
            height: 192px
            position: relative

        div
            width: 100%
            height: 100%
            background-size: cover
            background-repeat: no-repeat
            background-position: center
            opacity: 1
            transition: opacity 0.3s
