.ant-modal
    width: 900px !important

    .main-wrapper
        width: 824px
        min-height: 420px
        margin-top: 24px

        .activity
            height: 25px
            font-size: 16px
            font-weight: 300
            width: 100%
            display: grid
            grid-template-columns: 0.85fr repeat(3, 1fr) 1.5fr
            margin-bottom: 14px

            &.title
                margin-bottom: 14px
                color: #22212177

            .block
                display: flex

                &.right
                    justify-content: end

    .footer
        width: max-content
        min-height: 24px
        margin: 24px 16px 0 auto
