.filters-wrapper
    display: flex
    flex-direction: column
    gap: 64px
    background-color: white
    height: 100%
    opacity: 0
    width: 100%
    margin: 0 auto
    animation: fade-in 400ms forwards

    .filters
        height: 65px
        margin-top: 24px
        display: flex
        justify-content: end
        gap: 32px

        a
            cursor: pointer
            position: relative
            height: 46px
            padding-left: 16px
            padding-right: 16px
            width: 140px
            color: #fff
            background-color: #a5c2ff
            border: 1px solid #000

    .ant-dropdown-trigger
        &.month-filter
            &:before
                position: absolute
                top: -34px
                left: 0
                color: #000
                content: "By Month"

        &.year-filter
            &:before
                position: absolute
                top: -34px
                left: 0
                color: #000
                content: "By Year"

        .ant-space
            height: 100%
            display: flex
            justify-content: space-between
            align-items: center
            gap: 16px

        &-item
            color: black

.ant-dropdown

    .ant-dropdown-menu-item.ant-dropdown-menu-item-selected.ant-dropdown-menu-item-only-child,
    .ant-dropdown-menu-item.ant-dropdown-menu-item-only-child:hover,
    .ant-dropdown-menu-item-selected.ant-dropdown-menu-item-only-child:hover
        border-radius: 0
        background-color: #000000
        color: #fff

    span.ant-dropdown-menu-title-content
        a
            &.active
                font-weight: 600
                color: #e62d93
